.grid {
}

.dataRow, .headerRow {
    display: flex;
    border-bottom: 1px solid #d3d3d3;
}

.dataCell, .headerCell {
    flex: 1;
    padding: 1rem;
}

.headerCell {
    font-weight: bold;
}

.headerCell:hover {
    background-color: #ede8e8;
}

.sortableHeader {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.sortHandle {
    color: #808080;
}

.noData {
    padding: 2rem;
    text-align: center;;
    color: #727070;
}