.grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.contentArea {
    flex: 1;
    overflow: auto;
}

.dataRow, .headerRow {
    display: flex;
    border-bottom: 1px solid #d3d3d3;
}

.dataRow:last-child {
    border: none;
}

.dataRow:hover {
    background-color: #ede8e8;
}

.dataCell, .headerCell {
    flex: 1;
    padding: 1rem;
}

.headerCell {
    font-weight: bold;
}

.headerCell:hover {
    background-color: #ede8e8;
}

.dataCell {
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.sortableHeader {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.sortHandle {
    color: #808080;
}

.noData {
    padding: 2rem;
    text-align: center;;
    color: #727070;
}

.footerRow {
    padding: 1rem;
    font-weight: bold;
    border-top: 1px solid #d3d3d3;
}